<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ZXin Antiquity</title>
<link rel="stylesheet" type="text/css" href="<?php echo base_url('source/admin/css/Iframe.css'); ?>" />
<link rel="stylesheet" href="<?php echo base_url('source/admin/utilLib/bootstrap.min.css'); ?>" type="text/css" media="screen" />
</head>

<body>
<br/>
<form id="Antiquity_02" name="sizhu" method="post" action="<?php echo site_url('admin/admin_post/shuhua_post_modify') ?>" enctype="multipart/form-data"/>
<div id="">
  <div class="div_5002_td1">
    <div class="div_5002_tr">书画名：</div><br/>
    <div class="div_5002_tr">作者：</div><br/>
    <div class="div_5002_tr">原始图片地址(不可更改):</div><br/>
    <div class="div_5002_tr">新上传图片地址:</div><br/>
  </div>
  <?php foreach($detail as $value) { ?>
  <div class="div_5002_td2">
    <div class="div_5002_tr"><textarea name="shuhua_name" cols="40" rows="1"><?php echo $value['name']?></textarea></div><br/>
    <div class="div_5002_tr"><textarea name="writer" cols="40" rows="1"><?php echo $value['writer']?></textarea></div><br/>
    <div class="div_5002_tr"><textarea name="shuhua_old_path" readonly="readonly"cols="40" rows="1"><?php echo $value['pic_path']?></textarea></div><br/> 
 		<input name="id" type="hidden" value="<?php echo $value['id']?>" />
 		<div class="div_5002_tr"><input name="shuhua_new_path" type="file" /></div>
 <?php } ?>

</div>
<div><input name="TiJiao" type="submit" /></div>
</form>
</body>
</html>
