/* 导航栏 */
a,p{
	margin: 0;
	padding: 0;
}
.title1{
	width: 100%;
	height:60px;
	background: #343434;
	position: fixed;
	top:0;
	z-index:9999;
}
.title1 a{
	display: block;
	font-size: 14px;
	font-family: "微软雅黑";
	font-weight: normal;
}
.title1 input{
	padding: 0;
	margin: 0;
	outline: none;
}
.title_fix{
	width: 1200px;
	height: 60px;
	margin-left: auto;
	margin-right: auto;
}
.logo{
	float: left;
	width: 75px;
	height: 60px;
	margin-right: 50px;
}
.research{
	margin: 15px 0px;
	width: 350px;
	height: 30px;
	float: left;
}
.research a{
	line-height: 30px;
}
.classfiy{
	width: 50px;
	float: left;
	height: 30px;
	background: #277c88;
	border: none;
	outline: none;
	font-size: 14px;
}
select{
	appearance:none;
  	-moz-appearance:none;
  	-webkit-appearance:none;/*清除默认样式*/
  	select::-ms-expand { display: none; }
}
option{
	height: 29em;
	background: #277c88;
	color: #fff;
}
option:hover{
	background: #288c88;
	font-size: 15px;
}
.seh{
	width: 259px;
	height:28px;
	border: 1px solid #277c88;
	border-left: none;
	background: transparent;
	color: #fff;
	float: left;
	padding: 0px;
}
.seh1{
	width: 40px;
	height: 30px;
	float: left;
	text-align: center;
	color: #fff;
	background: #277c88;
}
.login_box{
	float: right;
	width: 150px;
	height: 60px;
}
.login{
	width: 130px;
	height: 20px;
	padding: 20px 10px;
	
}
.login1{
	width: 150px;
	height: 20px;
	padding: 20px 0;
	
}
.login1 a,.login_p{
	color: #fff;
	width: 75px;
	line-height: 20px;
	float: left;
	text-align: right;
	font-size: 15px;
}
.login1 a:hover{
	color: #277c88;
	text-decoration: 
}
.login a{
	width:65px;
	height: 30px;
	color: #fff;
	text-align: right;
	font-size: 15px;
	float: left;
}
.login a:hover{
	text-decoration: underline;
}